In [1]:
import pandas as pd
from  sqlalchemy import create_engine

In [3]:
PATH = 'Data/yellow_tripdata_2021-01.csv'
df = pd.read_csv(PATH)

/var/folders/bs/7v_qcgf56hz62jjflp1lp8p80000gn/T/ipykernel_1576/202303391.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
pd.io.sql.get_schema(df, 'yellow_tripdata_2021-01.csv')

'CREATE TABLE "yellow_tripdata_2021-01.csv" (\n"VendorID" REAL,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
print(pd.io.sql.get_schema(df, 'yellow_tripdata_2021-01'))

CREATE TABLE "yellow_tripdata_2021-01" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [15]:
print(df.tpep_pickup_datetime.dtype)

datetime64[ns]

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, 'taxi+_zone_lookup', con=engine))

CREATE TABLE "taxi+_zone_lookup" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [ ]:
df_iter = pd.read_csv(PATH, iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
df.tail()

     LocationID    Borough                Zone service_zone
260         261  Manhattan  World Trade Center  Yellow Zone
261         262  Manhattan      Yorkville East  Yellow Zone
262         263  Manhattan      Yorkville West  Yellow Zone
263         264    Unknown                  NV          NaN
264         265    Unknown                 NaN          NaN

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.head(0).to_sql(name='taxi+_zone_lookup', con=engine,if_exists=('replace'))

0

In [ ]:
df.to_sql(name='yellow_taxi_data', con=engine,if_exists=('append'))

1000

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine,if_exists=('append'))

    t_end = time()
    print('inserted another chunk... It took %.3f seconds' %(t_end-t_start))

inserted another chunk... It took 5.289 seconds
inserted another chunk... It took 5.383 seconds
inserted another chunk... It took 5.223 seconds
inserted another chunk... It took 5.212 seconds
inserted another chunk... It took 5.149 seconds
inserted another chunk... It took 5.102 seconds
inserted another chunk... It took 5.163 seconds
inserted another chunk... It took 5.230 seconds
inserted another chunk... It took 5.175 seconds
inserted another chunk... It took 5.259 seconds
inserted another chunk... It took 5.256 seconds

/var/folders/bs/7v_qcgf56hz62jjflp1lp8p80000gn/T/ipykernel_1018/2905996746.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... It took 5.076 seconds
inserted another chunk... It took 3.271 seconds

StopIteration:

In [17]:
wget "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"ArithmeticError

SyntaxError: invalid syntax (1792455724.py, line 1)